* {
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 10px;
  background-color: #111;
  /* background: #111 url('/assets/img/bg.svg') no-repeat;
  background-size: cover; */
  font-family: 'IM Fell English SC',
  serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #ccc;
  margin-bottom: 3rem;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

li {
  padding: 5px;
  list-style: none;
  margin: 5px;
  text-align: center;
}

button {
  padding: 5px 10px;
  font-family: 'IM Fell English SC',
  serif;
  border: 0;
  background: #333;
  color: #fff;
  border: 2px solid #666666;
  font-size: 1.6rem;
}

.active {
  border-color: #fff;
}

.sortby {
  margin-bottom: 3rem;
}

.sortby p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.sortby ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  padding: 2rem;
  text-align: center;
}

footer a {
  font-size: 1.2rem;
  line-height: 2;
  color: #fff;
}